name: Default metrics
on:
  schedule:
    # 每天凌晨 01:00 (UTC) 运行，即北京时间 09:00
    - cron: '0 1 * * *'
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build-metrics:
    name: Build Metrics
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # 1. 生成基础信息 (Base Stats)
      - name: Generate Base Metrics
        uses: vcvvvc/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: img/metrics.base.svg
          config_timezone: Asia/Shanghai
          
          # 基础内容配置
          base: header, activity, community, repositories, metadata
          
      # 2. 生成全年日历 (Full Year Calendar)
      - name: Generate Isocalendar
        uses: vcvvvc/metrics@master
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: img/metrics.calendar.svg
          config_timezone: Asia/Shanghai
          
          # 设为""表示不生成基础信息，只生成日历
          base: ""
          
          # 启用日历插件并设置为全年
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
