name: Default metrics
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches: ["master", "main"]

jobs:
  build-metrics:
    name: Build Metrics
    runs-on: ubuntu-latest
    environment: hub_metrics
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5

      - name: Generate Base Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: img/metrics.base.svg
          config_timezone: Asia/Shanghai
          base: header, activity, community, repositories, metadata


      - name: Generate 3D Contribution Profile
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A .
          git commit -m "generated 3d contribution profile" || echo "No changes to commit"
          git push
